@import "@vscode/codicons/dist/codicon.css";
@import url("tldraw/tldraw.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.str-video {
    background-color: #272a30;
    color: #ffffff;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.str-video {
    background-color: #272a30;
    color: #ffffff;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
}

@layer components {
    .view-title {
        @apply mb-2 w-full border-b pb-2 text-start text-lg;
    }
}

i.codicon {
    font-size: 28px !important;
}

body {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    --sb-track-color: #3d404a;
    --sb-thumb-color: #e1e1ffb3;
    --sb-size: 6px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
    height: var(--sb-size);
    width: var(--sb-size);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    height: var(--sb-size);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Editor */

.cm-editor {
    max-height: 93vh;
}

.cm-editor .cm-scroller {
    font-family: "Space Mono", monospace;
    /* min-height: 100vh; */
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cm-editor {
        max-height: calc(93vh - 60px);
    }

    .cm-editor .cm-scroller {
        min-height: calc(93vh - 60px);
    }
}

/* Container to keep everything organized */

/* The tray holding the buttons */
.control-tray {
    bottom: 10px;
    left: 50%;
    display: flex;
    gap: 12px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

/* Target the SDK buttons specifically */
.control-tray button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    cursor: pointer;
    background-color: #333;
    border: none;
}

.control-tray button:hover {
    background-color: #444;
}

.str-video__reactions-menu {
    padding: 10px;
}

.str-video__reactions-menu__button {
    scale: 150%;
    margin: 5px;
}
